html, body {
  background-color: #aaa;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.relogio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  background-color: #2c2e43;
  width: 500px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  border-radius: 15px;
  color: #fff;
  font-size: 10rem;
  border: 10px solid #ffd5;
  font-family: "Qahiri", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #444;
  padding: 20px;
}

@media (max-width: 500px) {
  .display {
    max-width: 80%;
    max-height: 90%;
    font-size: 20vh;
  }

  footer {
    margin: 0 auto;
  }
}